name: .NET

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.x

    - name: Restore dependencies
      run: cd CLWebAPI && dotnet restore

    - name: Build
      run: cd CLWebAPI && dotnet build --no-restore

    - name: Test
      run: cd CLWebAPI && dotnet test --no-build --verbosity normal

    - name: Core Tests Report
      uses: zyborg/dotnet-tests-report@v1
      with:
        project_path: CLWebAPI/Tests/Tests.csproj
        report_name: github_actions_example_test_report
        report_title: Github Action Test Test Report
        github_token: ${{ secrets.GITHUB_TOKEN }}    